body{
    background-color: rgb(19, 19, 52);
    color: #fff;
  }
  
  .cardsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .heading{
    text-align: center;
  }